n8n_workflow_google_maps.json
{
    "name": "Prospecta - Google Maps Scraper (Apify)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "prospecta-google-maps",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-gmaps",
            "name": "Webhook Google Maps",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs?token={{$env.APIFY_API_TOKEN}}&waitForFinish=120",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"searchStringsArray\": [\"{{ $json.body.searchQuery }}\"],\n  \"locationQuery\": \"{{ $json.body.locationQuery }}\",\n  \"maxCrawledPlacesPerSearch\": {{ $json.body.limit || 1000 }},\n  \"language\": \"fr\",\n  \"includeWebResults\": false,\n  \"includeHistogram\": false,\n  \"includeOpeningHours\": true,\n  \"includePeopleAlsoSearch\": false\n}",
                "options": {
                    "timeout": 180000
                }
            },
            "id": "apify-run",
            "name": "Run Apify Actor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?token={{$env.APIFY_API_TOKEN}}&limit={{ $json.body.limit || 1000 }}",
                "options": {}
            },
            "id": "apify-results",
            "name": "Get Results",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Map Apify Google Maps results to Prospecta format\nconst items = $input.all();\nconst mapped = items.map(item => {\n  const d = item.json;\n  return {\n    json: {\n      placeId: d.placeId || '',\n      title: d.title || d.name || '',\n      name: d.title || d.name || '',\n      categoryName: d.categoryName || '',\n      additionalCategories: d.additionalCategories || [],\n      address: d.address || '',\n      street: d.street || '',\n      city: d.city || '',\n      postalCode: d.postalCode || '',\n      phone: d.phone || '',\n      phoneUnformatted: d.phoneUnformatted || '',\n      website: d.website || '',\n      url: d.url || '',\n      email: d.email || '',\n      emails: d.emails || [],\n      totalScore: d.totalScore || 0,\n      reviewsCount: d.reviewsCount || 0,\n      description: d.description || '',\n      openingHours: d.openingHours || [],\n      location: d.location || {},\n      priceLevel: d.price || '',\n      temporarilyClosed: d.temporarilyClosed || false,\n      reviewsText: (d.reviews || []).slice(0, 3).map(r => r.text).join(' | ')\n    }\n  };\n});\nreturn mapped;"
            },
            "id": "code-mapper",
            "name": "Map to Prospecta Format",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                950,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"data\": $input.all().map(i => i.json) } }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ]
        }
    ],
    "connections": {
        "Webhook Google Maps": {
            "main": [
                [
                    {
                        "node": "Run Apify Actor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Apify Actor": {
            "main": [
                [
                    {
                        "node": "Get Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Results": {
            "main": [
                [
                    {
                        "node": "Map to Prospecta Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map to Prospecta Format": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "prospecta"
        },
        {
            "name": "google-maps"
        },
        {
            "name": "apify"
        }
    ]
}