n8n_workflow_linkedin_scraper.json
{
    "name": "LinkedIn Google X-Ray Scraper (Configuré)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "linkedin-xray-scraper",
                "options": {}
            },
            "id": "e8a9d1b0-1234-5678-9012-345678901234",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/customsearch/v1",
                "authentication": "none",
                "sendQueryParameters": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "AlzaSyCYWY7-lljhj4LCf0JBcyEq__kRuC-Hmnk"
                        },
                        {
                            "name": "cx",
                            "value": "e12efdaf2e6c04b9e"
                        },
                        {
                            "name": "q",
                            "value": "=site:linkedin.com/in/ \"{{ $node[\"Webhook\"].json[\"searchQuery\"] }}\""
                        },
                        {
                            "name": "start",
                            "value": "={{ $node[\"Webhook\"].json[\"startIndex\"] || 1 }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "0a1b2c3d-1234-5678-9012-345678901236",
            "name": "Search Google",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                350,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "items",
                "options": {}
            },
            "id": "3d4e5f6g-1234-5678-9012-345678901239",
            "name": "Split Results",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                550,
                300
            ]
        },
        {
            "parameters": {
                "keepOnlyAndOrder": true,
                "values": {
                    "string": [
                        {
                            "name": "name",
                            "value": "={{ $json.title.split(' | ')[0].split(' - ')[0].replace(/\\s*LinkedIn\\s*/i, '') }}"
                        },
                        {
                            "name": "position",
                            "value": "={{ $json.title.split(' | ')[1]?.split(' - ')[0] || $json.snippet.split('\\n')[0].substring(0, 100) }}"
                        },
                        {
                            "name": "company",
                            "value": "={{ $json.title.split(' - ')[1]?.replace(/\\s*LinkedIn\\s*/i, '') || \"Non spécifié\" }}"
                        },
                        {
                            "name": "link",
                            "value": "={{ $json.link }}"
                        },
                        {
                            "name": "snippet",
                            "value": "={{ $json.snippet }}"
                        },
                        {
                            "name": "image",
                            "value": "={{ $json.pagemap?.cse_image?.[0]?.src || $json.pagemap?.metatags?.[0]?.['og:image'] || \"\" }}"
                        }
                    ]
                }
            },
            "id": "1b2c3d4e-1234-5678-9012-345678901237",
            "name": "Map Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                750,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"data\": {{ $node[\"Map Data\"].json }}\n}",
                "options": {}
            },
            "id": "2c3d4e5f-1234-5678-9012-345678901238",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                950,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Search Google",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Google": {
            "main": [
                [
                    {
                        "node": "Split Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Results": {
            "main": [
                [
                    {
                        "node": "Map Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map Data": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}